h1 {
    color: blue;
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    min-height: 100vh;
}

.buttonVista{
    margin-top: 20px;
}

.table-responsive{
    width: 70%;
    margin: auto;
    
}

.formulario{
    width: 80%;
    margin: auto;
    padding: 20px;
}

.formChat{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding: 20px;

}

#productos{
    display: flex;
   justify-content: space-evenly;
}

.nav{
    display: flex;
    justify-content: space-evenly;
}